.pillBtn {
  background: #ffffff;
  color: #000;
  border: none;
  border-radius: 999px;

  padding: 14px 22px;
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  font-size: 18px;
  line-height: 1;

  cursor: pointer;
  pointer-events: auto; /* важно, потому что hero-text = pointer-events:none */
  white-space: nowrap;
}

.pillBtn:hover {
  transform: translateY(-1px);
}

.pillBtn:active {
  transform: translateY(0);
}
