.section {
  padding: 80px 46px;
  box-sizing: border-box;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* верх: 2 карточки */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.imageWrap,
.mapWrap {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.imageWrap img,
.mapWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dot {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #c6ff00;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===== DESKTOP bottom info ===== */
.desktopInfo {
  margin-top: 28px;
}

.infoGrid {
  display: grid;
  grid-template-columns: 140px 1fr 120px 1fr;
  column-gap: 40px;
  row-gap: 18px;
  align-items: start;

  font-size: 18px;
  font-weight: 500;
  color: #111;
}

.labels,
.values {
  display: grid;
  gap: 6px;
}

.addrLabel {
  justify-self: start;
}

.addrValue {
  display: grid;
  gap: 6px;
}

.emailLabel {
  margin-top: 6px;
}

.emailValue {
  margin-top: 6px;
}

.copy {
  margin-top: 6px;
  opacity: 0.9;
}

/* ===== MOBILE ===== */
.mobileInfo {
  display: none;
}

@media (max-width: 768px) {
  .section {
    padding: 40px 20px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .desktopInfo {
    display: none;
  }

  .mobileInfo {
    display: block;
    margin-top: 24px;
    font-size: 16px;
  }

  .social {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 20px;
  }



  .address {
    margin-bottom: 16px;
  }

  .email {
    margin-bottom: 30px;
  }

  .copy {
    font-size: 14px;
    opacity: 0.6;
  }
}
