.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

/* картинка */
.bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) contrast(1.05);
  border-radius: 16px;
}
/* общий контейнер — ЕДИНЫЕ отступы */
.inner {
  position: relative;
  z-index: 2;
  min-height: 100vh;

  padding: 28px 39px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.imageWrap {
  position: absolute;
  inset: 0;
  padding: 0 39px; /* ← ОТСТУПЫ ДЛЯ КАРТИНКИ */
  box-sizing: border-box;
}

/* service — ВНУТРИ ПОТОКА */
.top {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  text-transform: lowercase;

  /* никакого absolute */
  margin-bottom: auto; /* ← отталкивает низ вниз */
}

.textWrap {
  padding-left: 55px; /* ← ВОТ ОН */
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 28px * 2);
}

/* нижний блок */
.bottom {
  text-decoration: none;
  color: inherit;
  width: fit-content;
}

.line {
  display: flex;
  align-items: baseline;
  gap: 16px;
  white-space: nowrap;
}

.line + .line {
  margin-top: 10px;
}

.big {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  color: #fff;
}

.tag {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
}

/* адаптив */
@media (max-width: 768px) {

    .textWrap {
  padding-left: 15px; /* ← ВОТ ОН */

    }
  .inner {
    padding: 24px 39px;
  }

  .big {
    font-size: 44px;
  }
}

@media (max-width: 480px) {
  .inner {
    padding: 20px;
  }

  .big {
    font-size: 34px;
  }

  .imageWrap {

  padding: 0 10px; /* ← ОТСТУПЫ ДЛЯ КАРТИНКИ */

}
}
