:root {
  --nav-h: 64px;
}

.carousel {
  height: 600vh;
  background-color: #fffafa;
}

.sticky {
  position: sticky;
  top: var(--nav-h);
  height: calc(100vh - var(--nav-h));
  overflow: hidden;
}

.track {
  display: flex;
  height: 100%;
  will-change: transform;
}

.slide {
  flex: 0 0 100vw;
  min-width: 100vw;
  height: calc(100vh - var(--nav-h));
}

/* wrapper для ВСЕХ слайдов */
.imageWrapper {
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 30px;
  padding-top: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* mobile layout */
@media (max-width: 480px) {
.sticky {
    height: calc(100svh - var(--nav-h));
  }

  .slide {
    height: calc(100svh - var(--nav-h));
  }

  .imageWrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}



