.carousel {
  height: 400vh;
  background-color: #fffafa;
}

:root {
  --nav-h: 64px;
}

.sticky {
  position: sticky;
  top: 0;
  height: calc(100vh - var(--nav-h));
  overflow: hidden;
}

.track {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100vw;
  height: calc(100vh - var(--nav-h));
  display: flex;
}

.image-wrapper {
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 39px;
  padding-top: 0;

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}

.image-wrapper img {
  border-radius: 16px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
