.navbar {
  background: #fffcfc;
  padding: 16px 40px;
  width: 100%;
  box-sizing: border-box;

  position: sticky;
  top: 0;
  z-index: 9999; /* выше карусели и контента */


}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  position: relative;
  color: #303030;
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #474646;
}

.nav-item.active {
  color: #303030;
}

.taped {
  position: absolute;
  width: fit-content;

  top: 18px;
  left: -1px;

  transform: rotate(-3deg);

  font-family: "DM Sans", sans-serif;
  font-weight: 900;

  background: #daff3e;
  color: #000;
  font-size: 18px;
  padding: 0px 0px 4px 10px;
  border-radius: 6px;
  text-align: center;

  white-space: nowrap;
  pointer-events: none;
  box-sizing: border-box;
}
