.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #fffafaff;
  margin: 0;
  padding: 0 2rem;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fontB {
  color: #303030;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 2rem;
}

.arrowIcon {
  padding: 1rem 0 1rem 0;
}
