:global(:root) {
  --nav-h: 96px;
}

:global(html) {
  scroll-snap-type: y mandatory;
  scroll-padding-top: var(--nav-h);
  scroll-behavior: smooth;
}

:global(body) {
  margin: 0;
  overflow-x: hidden;
}

.App {
  padding: 0;
  margin: 0;
}

.verticalSlide {
  width: 100%;
  height: calc(100vh - var(--nav-h));
  scroll-snap-align: start;
  scroll-snap-stop: always;

  box-sizing: border-box;
  padding-left: 39px;
  padding-right: 39px;
  padding-bottom: 30px;
}

.verticalSlide > * {
  width: 100%;
  height: 100%;
}



@media (max-width: 480px) {
  :global(:root) {
    --nav-h: 80px;
  }

  .verticalSlide {
    height: calc(100svh - var(--nav-h));
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 23px;
    padding-bottom: 16px;
  }
}